<header class="site-header">
<link rel="icon" type="image/png" href="../assets/img/ico.png">
  <div class="container header-row">

    <div class="brand">
      <h1 class="site-title">Multimediální průvodce hardwarem</h1>
      <p class="site-subtitle">web k výukovému videu, materiálům a kvízu.</p>
    </div>

    <img src="/assets/img/logo.png" alt="Logo projektu" class="header-logo">

  </div>

  <div class="container">
    <nav class="site-nav" aria-label="Hlavní navigace">
<a href="/index.html">Úvod</a>
<a href="/video.html">Video</a>
<a href="/materialy.html">Materiály</a>
<a href="/kviz.html">Kvíz</a>
<a href="/katalog.html">Katalog</a>
<a href="/o-projektu.html">O projektu</a>
    </nav>
  </div>

</header>
